<div class="container button-container">
  <div class="side-bar-menu">
    <div class="form-group">
      <p class="task-header">Task List</p>
      <input class="new-task-input form-control" placeholder="New Task" type="text" value=newTask />
      <input class="new-task-submit btn btn-success" type="submit" />
      <ol class="task-list">
        <li><span class="fa fa-check check-mark"></span> Random Items</li>
        <li><span class="fa fa-check check-mark"></span> Random Items</li>
        <li><span class="fa fa-check check-mark"></span> Random Items</li>
        <li><span class="fa fa-check check-mark"></span> Random Items</li>
      </ol>
    </div>
  </div>

  <div class="timer-column">

    <div class="row">
      <header class="heading">Tomato Timer</header>
    </div>

    <div class="row">
      <div class="button-div">
        <div class="pomodoro-button">
          <button class="btn btn-danger">Start Working!</button>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="timer-div">
        <p>0:00</p>
      </div>
    </div>

  </div>

</div>

